@page "/pokemon"
@using Models
@using Utilities
@inject PokeClient client

@if (pokemon?.sprites?.front_default != null)
{
    <div class="container" style="margin: 30px auto; width: 28%;">
        <div class="card">
            @if (@pokemon.types.Count > 0)
            {
            <div class="card-top" style="background-color: @TypeColor.GetTypeColor(pokemon.types[0].type.name); display: flex;
                                  justify-content: space-around; align-items: center; margin-bottom: 10px;">
                <img src="@pokemon.sprites.front_default" alt="pokemon sprite" class="card-img-top" style="width: 200px;" />
            </div>
            }   
        <div class="inner-container" style="margin: 0 auto; width: 100%; text-align: center; padding: 20px; padding-top:0px;">
            <div class="stats-head">
                <div class="icon-container" style="display: flex; align-items: center; justify-content: center;">
                    <img src="" alt="" class="poke-icon" style="width:30px; height: 30px; margin-right: 10px;"/>
                    <h1 class="pokemon-name card-title text-uppercase"">@pokemon.name</h1>
                </div>
                <div class="pokemon-info">
                    <h5>Height: @pokemon.height m</h5>
                    <div>
                        @foreach (var type in pokemon.types)
                        {
                            <span class="type-badge text-uppercase"
                                  style="background-color: @TypeColor.GetTypeColor(type.type.name);
                                         padding: 5px 10px; border-radius: 8px; font-size: 13px; color: #fff; margin-right: 3px                                     color: white;">
                                @type.type.name
                            </span>
                        }
                    </div>
                    <h5>Weight: @pokemon.weight kg</h5>
                </div>
            </div>

            <div class="stats-head">
                <div class="icon-container">
                    <img src="/img/pokeInsignia.png" alt="insignia" />
                    <h2>Stats</h2>
                </div>
                @foreach (var stat in pokemon.stats)
                {
                    <div class="stat-bar" style="display: flex; flex-direction: column; text-align: left; margin-bottom: 5px;">
                        <h5 class="stat text-uppercase">@stat.stat.name: @stat.base_stat</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: @stat.base_stat%;
                        background-color: @(TypeColor.GetStatColor(stat.stat.name));
                        height: 100%;"
                                 aria-valuenow="@stat.base_stat%"
                                 aria-valuemin="0"
                                 aria-valuemax="200">
                            </div>
                        </div>
                    </div>
                }

                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading Pokémon...</p>
}

@code {
    Pokemon pokemon = new();

    protected override async Task OnInitializedAsync()
    {
        pokemon = await client.GetPokemon("1");
        StateHasChanged();
    }
}
